<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>Yuqing Wen</h2>
        </header>
        <p>Hi! This is <strong>Yuqing</strong>, a graduate student from Carnegie Mellon Univeristy studying Computer Science, graduating in May 2021. </p>
        <br/>
        <img src="images/photo.jpeg" alt="" style="width: 150px; height: 150px; border-radius: 50%;";/>
        
        <footer>
            <ul class="buttons vertical">
                <li><a href="#main" class="button fit scrolly">Tell Me More</a></li>
            </ul>
        </footer>

    </div>

</section>