<!-- Footer -->
<footer id="footer">

    <ul class="icons">
        <li><a href="mailto:wendy.wenyuqing@gmail.com" class="icon circle fa-envelope with-tooltip"><span class="label">Mail</span><span class="tooltip long">wendy.wenyuqing@gmail.com</span></a></li>
        <li><a href="https://www.linkedin.com/in/yuqingwen/" class="icon circle fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
        <li><a href="https://www.facebook.com/profile.php?id=100012792570382" class="icon circle fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
        <li><a href="https://github.com/yqwen" class="icon circle fa-github"><span class="label" target="_blank">Github</span></a></li>
        <li><a href="https://www.instagram.com/wendy_yuqing/" class="icon circle fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
        <li><span class="icon circle fa-wechat with-tooltip"><span class="label">WeChat</span><span class="tooltip">WeChat ID: Wen_YQ-</span></span></li>
    </ul>

    <ul class="copyright">
        <li>&copy; Yuqing Wen 2020</li><li> Theme Adapted From: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>

</footer>